h1{
            color: purple;
        }

        .btn-Submit{
         color: grey;
         height: 40px;
         width: 80px;
         border-radius: 6px 12px 6px 12px;
         background: linear-gradient(45deg);
         }
     